img {
  width: 100%; }

.navbar {
  border: 0;
  margin-bottom: 0; }

.top {
  background-color: rgba(0, 0, 0, 0.4); }

.box-nav {
  margin-bottom: 10px; }

.logo {
  width: 50%; }

.navbar-toggle .icon-bar {
  background-color: #f15a24; }

.menu {
  background-color: rgba(0, 0, 0, 0.72); }

.menu li a {
  color: #fff;
  font-size: 15px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center; }
  .menu li a:focus, .menu li a:hover {
    background-color: transparent; }
  .menu li a:hover, .menu li a:active {
    background-color: #f15a24; }

.carousel-indicators .active {
  background-color: #f15a24;
  border: 1px solid #f15a24; }

.carousel-control {
  opacity: 0.5; }

.carousel-control-right, .carousel-control-left {
  background-image: linear-gradient(to right, transparent 0, transparent); }

.icon-left, .icon-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  font-size: 30px;
  color: #fff;
  width: 60%; }

.icon-left {
  left: 40%;
  margin-left: -10px; }

.icon-right {
  right: 40%;
  margin-right: -10px; }

.text-slide {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  z-index: 10;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88);
  text-align: center; }
  .text-slide h1 {
    color: #fff;
    font-size: 25px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400; }
  .text-slide h1 span {
    font-weight: 700; }
  .text-slide p {
    color: #fff;
    font-size: 16px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400; }
  .text-slide .download {
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88);
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    width: 60%;
    margin-top: 4%; }
  .text-slide .learn-more {
    background-color: #f15a24;
    border-bottom: 2px solid #893f25;
    border-radius: 6px;
    color: #fff;
    text-shadow: 0 0 0 transparent;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    width: 60%;
    margin-top: 4%; }
  .text-slide .available {
    margin: 0 auto;
    width: 100%;
    margin-top: 7%;
    text-align: center; }
    .text-slide .available span {
      color: #fff;
      font-size: 17px;
      font-family: "Droid Sans", sans-serif;
      font-weight: 400; }
    .text-slide .available .mobile-icons {
      background-color: #161a1f;
      padding: 10px 10px;
      border-radius: 20px;
      margin: 5px; }
      .text-slide .available .mobile-icons .fa-apple {
        color: #f15a24;
        font-size: 20px; }
      .text-slide .available .mobile-icons .fa-android {
        color: #fff;
        font-size: 20px; }

@media (min-width: 480px) {
  .logo {
    width: 45%;
    padding: 10px 15px; }

  .menu li a {
    font-size: 18px;
    font-weight: 400; }

  .text-slide {
    top: 20%; }
    .text-slide h1 {
      font-size: 32px;
      margin-bottom: 5%; }
    .text-slide p {
      font-size: 17px; }
    .text-slide .learn-more {
      border-bottom: 3px solid #893f25; }
    .text-slide .available span {
      font-size: 18px; } }
@media (max-width: 768px) {
  .navbar-header.box-nav {
    float: none; } }
@media (max-width: 1023px) {
  .navbar-toggle {
    display: block; }

  .navbar-collapse.collapse {
    display: none !important; }

  .collapse.in {
    display: block !important; } }
