img {
  width: 100%; }

a:hover, a:active {
  text-decoration: none; }

.navbar {
  border: 0;
  margin-bottom: 0; }

.top {
  background-color: rgba(0, 0, 0, 0.8); }

.box-nav {
  margin-bottom: 10px; }

.logo {
  width: 50%; }

.navbar-toggle .icon-bar {
  background-color: #f15a24; }

.menu {
  background-color: rgba(0, 0, 0, 0.72); }

.menu li a {
  color: #fff;
  font-size: 15px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center; }
  .menu li a:focus, .menu li a:hover {
    background-color: transparent; }
  .menu li a:hover, .menu li a:active {
    background-color: #f15a24; }

.carousel-indicators .active {
  background-color: #f15a24;
  border: 1px solid #f15a24; }

.carousel-control {
  opacity: 0.5; }

.carousel-control.right, .carousel-control.left {
  background-image: linear-gradient(to right, transparent 0, transparent); }

.icon-left, .icon-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
  font-size: 30px;
  color: #fff;
  width: 60%; }

.icon-left {
  left: 40%;
  margin-left: -10px; }

.icon-right {
  right: 40%;
  margin-right: -10px; }

.text-slide {
  position: absolute;
  top: 15%;
  left: 10%;
  right: 10%;
  z-index: 10;
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88);
  text-align: center; }
  .text-slide h1 {
    color: #fff;
    font-size: 25px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400; }
  .text-slide h1 span {
    font-weight: 700; }
  .text-slide p {
    color: #fff;
    font-size: 16px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400; }
  .text-slide .download {
    border: 2px solid #fff;
    border-radius: 6px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.66);
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88);
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    width: 60%;
    margin-top: 4%; }
  .text-slide .learn-more {
    background-color: #f15a24;
    border-bottom: 2px solid #ce4e22;
    border-radius: 6px;
    color: #fff;
    text-shadow: 0 0 0 transparent;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    width: 60%;
    margin-top: 4%; }
  .text-slide .available {
    margin: 0 auto;
    width: 100%;
    margin-top: 7%;
    text-align: center; }
    .text-slide .available span {
      color: #fff;
      font-size: 17px;
      font-family: "Droid Sans", sans-serif;
      font-weight: 400; }
    .text-slide .available .mobile-icons {
      margin: 5px; }
      .text-slide .available .mobile-icons .fa-apple, .text-slide .available .mobile-icons .fa-android {
        background-color: rgba(0, 0, 0, 0.66);
        padding: 10px 12px;
        border-radius: 20px;
        font-size: 20px; }
      .text-slide .available .mobile-icons .fa-apple {
        color: #f15a24; }
      .text-slide .available .mobile-icons .fa-android {
        color: #fff; }

.features {
  background-color: #f9f9f9;
  border-top: 5px solid #f15a24;
  padding-top: 10px;
  padding-bottom: 20px; }

.features-content, .gallery-content, .prices-content {
  text-align: center; }
  .features-content h1, .gallery-content h1, .prices-content h1 {
    color: #414042;
    font-size: 18px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700; }
  .features-content p, .gallery-content p, .prices-content p {
    color: #414042;
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400; }
  .features-content .features-elements, .gallery-content .features-elements, .prices-content .features-elements, .gallery-content .gallery-elements, .prices-content .prices-title {
    width: 100%;
    padding: 25px 10px 0 10px; }
    .features-content .features-elements .elements img, .gallery-content .features-elements .elements img, .prices-content .features-elements .elements img, .gallery-content .gallery-elements .elements img, .prices-content .prices-title .elements img {
      width: 30%; }
    .features-content .features-elements .elements h3, .gallery-content .features-elements .elements h3, .prices-content .features-elements .elements h3, .gallery-content .gallery-elements .elements h3, .prices-content .prices-title .elements h3 {
      color: #414042;
      font-size: 18px;
      font-family: "Droid Sans", sans-serif;
      font-weight: 700; }
    .features-content .features-elements .elements p, .gallery-content .features-elements .elements p, .prices-content .features-elements .elements p, .gallery-content .gallery-elements .elements p, .prices-content .prices-title .elements p {
      color: #414042;
      font-size: 15px;
      font-family: "Droid Sans", sans-serif;
      font-weight: 400; }

.lightbox .lb-image {
  border: 0; }

.gallery {
  background-color: #fff;
  padding-top: 10px;
  padding-bottom: 20px; }

.gallery-content .gallery-elements {
  overflow: hidden; }
  .gallery-content .gallery-elements .pictures-in {
    position: relative;
    overflow: hidden;
    border-radius: 15px; }
    .gallery-content .gallery-elements .pictures-in:hover .gallery-overlay {
      opacity: 1; }
      .gallery-content .gallery-elements .pictures-in:hover .gallery-overlay .gallery-text-overlay {
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: #ce4e22;
        text-align: center;
        opacity: 1;
        transition: 0.5s ease; }
        .gallery-content .gallery-elements .pictures-in:hover .gallery-overlay .gallery-text-overlay p {
          color: #fff;
          font-size: 12px;
          font-family: "Droid Sans", sans-serif;
          font-weight: 700;
          padding: 5px 0;
          margin: 0; }
    .gallery-content .gallery-elements .pictures-in .gallery-img {
      display: block;
      width: 100%;
      height: auto; }
    .gallery-content .gallery-elements .pictures-in .gallery-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
      transition: 0.5s ease;
      background-color: #f15a24; }
    .gallery-content .gallery-elements .pictures-in .gallery-icon {
      color: #fff;
      font-size: 35px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%); }
    .gallery-content .gallery-elements .pictures-in .gallery-text-overlay {
      opacity: 0; }
    .gallery-content .gallery-elements .pictures-in .gallery-text {
      width: 100%;
      background-color: #4f4f50;
      text-align: center; }
      .gallery-content .gallery-elements .pictures-in .gallery-text p {
        color: #fff;
        font-size: 12px;
        font-family: "Droid Sans", sans-serif;
        font-weight: 700;
        padding: 5px 0;
        margin: 0; }
  .gallery-content .gallery-elements .gallery-description {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 20px; }
    .gallery-content .gallery-elements .gallery-description p {
      color: #414042;
      font-size: 12px;
      font-family: "Droid Sans", sans-serif;
      font-weight: 400; }

.watch {
  background: #f15a24 url(../images/bgwatch.jpg) no-repeat center fixed; }

.watch-content {
  padding: 20% 0;
  text-align: center; }

.play-img {
  width: 25%;
  margin: 0 auto; }

.play-text {
  color: #fff;
  font-family: "Droid Sans", sans-serif;
  font-weight: 400; }
  .play-text h1 {
    font-size: 30px;
    margin-bottom: 20px; }
    .play-text h1 span {
      font-weight: 700; }
  .play-text p {
    font-size: 13px; }

.prices {
  padding-top: 5px; }

.prices-plan {
  padding: 0 10px; }

.plan {
  background-color: #f9f9f9;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 0 15px 0; }
  .plan h3 {
    color: #a5a5a5;
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700; }
  .plan h1 {
    color: #fff;
    font-size: 50px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 8px 0; }
  .plan .purchase {
    color: #fff;
    font-size: 15px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
    padding: 10px 0;
    width: 60%; }

.highlight h3 {
  color: #f15a24; }

.testimony {
  background-color: #f9f9f9;
  padding: 25px 0 25px 0; }

.testimony-box h1 {
  color: #414042;
  font-size: 25px;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px; }

.testimony-content {
  text-align: center; }
  .testimony-content img {
    width: 40%; }
  .testimony-content p {
    color: #f15a24;
    font-size: 12px;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
    text-align: center; }

.testimony-controls {
  text-align: center; }
  .testimony-controls a {
    opacity: 0.6; }
  .testimony-controls a.active {
    opacity: 1; }
  .testimony-controls img {
    width: 10%; }

.like {
  background-color: #4f4f50;
  padding: 10px 0 30px 0; }

.like-content {
  text-align: center; }
  .like-content h1 {
    color: #fff;
    font-family: "Droid Sans", sans-serif;
    font-weight: 400;
    font-size: 30px; }
  .like-content .download-now {
    background-color: #f15a24;
    border-bottom: 2px solid #ce4e22;
    border-radius: 6px;
    color: #fff;
    text-shadow: 0 0 0 transparent;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    padding: 10px 0;
    width: 50%;
    margin-top: 4%; }

.contact {
  background-color: #f15a24; }

.contact-content {
  text-align: center;
  padding: 20px 12px;
  background-color: #f15a24; }
  .contact-content .contact-form h1 {
    color: #fff;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    font-size: 30px; }

.contact-area {
  height: 50px;
  margin-bottom: 2%;
  text-align: center; }

.message {
  text-align: center; }

.send {
  background-color: #fff;
  color: #f15a24;
  font-family: "Droid Sans", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-top: 2%;
  width: 40%;
  padding: 10px 12px; }

.maps {
  pointer-events: none; }

footer {
  background-color: #4f4f50; }

.footer-content {
  padding: 5% 0; }
  .footer-content .copy,
  .footer-content .terms {
    width: 100%;
    text-align: center; }
    .footer-content .copy p,
    .footer-content .terms p {
      color: #bbbbbb;
      font-family: "Droid Sans", sans-serif;
      font-weight: 400;
      font-size: 12px; }

@media (min-width: 480px) {
  .logo {
    width: 45%;
    padding: 10px 15px; }

  .menu li a {
    font-size: 18px;
    font-weight: 400; }

  .text-slide {
    top: 20%; }
    .text-slide h1 {
      font-size: 32px;
      margin-bottom: 5%; }
    .text-slide p {
      font-size: 17px; }
    .text-slide .learn-more {
      border-bottom: 3px solid #ce4e22; }
    .text-slide .available span {
      font-size: 18px; }
    .text-slide .available .fa-apple, .text-slide .available .fa-android {
      padding: 10px 15px;
      border-radius: 25px;
      font-size: 25px; }

  .gallery-content .gallery-elements .gallery-description p {
    font-size: 13px; } }
@media (min-width: 768px) {
  .navbar-header.box-nav {
    float: none;
    margin-bottom: 0; }

  .top {
    height: 75px; }

  .logo {
    width: 40%; }

  .navbar-toggle {
    padding: 20px 10px; }

  .menu {
    width: 100%;
    float: none;
    margin-right: 0; }
    .menu li {
      width: 100%; }
      .menu li a {
        padding-top: 20px;
        padding-bottom: 20px; }

  .slide-box {
    height: 100vh; }

  .text-slide h1 {
    font-size: 45px; }
  .text-slide p {
    font-size: 25px; }
  .text-slide .learn-more, .text-slide .download {
    font-size: 20px;
    width: 40%;
    margin-left: 2px;
    margin-right: 2px; }
  .text-slide .available span {
    font-size: 25px; }
  .text-slide .available .mobile-icons .fa-apple, .text-slide .available .mobile-icons .fa-android {
    padding: 10px 15px;
    border-radius: 35px;
    font-size: 35px; }

  .icon-left,
  .icon-right {
    width: 45%; }

  .features-content h1, .gallery-content h1, .prices-content h1 {
    font-size: 25px; }
  .features-content p, .gallery-content p, .prices-content p {
    font-size: 18px; }

  .features-content .features-elements .elements h3, .gallery-content .features-elements .elements h3, .prices-content .features-elements .elements h3, .gallery-content .gallery-elements .elements h3, .prices-content .prices-title .elements h3 {
    font-size: 20px; }
  .features-content .features-elements .elements p, .gallery-content .features-elements .elements p, .prices-content .features-elements .elements p, .gallery-content .gallery-elements .elements p, .prices-content .prices-title .elements p {
    font-size: 18px; }

  .gallery-content .gallery-elements {
    overflow: hidden; }
    .gallery-content .gallery-elements .pictures-box .gallery-description p {
      font-size: 15px; }

  .play-img {
    width: 15%; }

  .play-text h1 {
    font-size: 35px; }
  .play-text p {
    font-size: 15px; }

  .prices {
    padding-bottom: 25px; }

  .prices-plan {
    margin-top: 25px; }
    .prices-plan .plan {
      margin-top: 35px; }
      .prices-plan .plan h3 {
        font-size: 18px; }
      .prices-plan .plan .value h1 {
        font-size: 45px; }
      .prices-plan .plan .purchase {
        font-size: 18px;
        margin-top: 15px; }
    .prices-plan .highlight {
      margin-top: 10px; }

  .testimony-content img {
    width: 20%; }
  .testimony-content p {
    font-size: 15px;
    padding: 0 15%; }

  .like-content .download-now {
    width: 40%;
    font-size: 18px; }

  .contact {
    position: relative; }

  .contact-content {
    position: absolute;
    width: 50%;
    left: 25%;
    right: 25%;
    top: 10%;
    border-radius: 15px;
    background-color: rgba(241, 90, 36, 0.8); }

  .send {
    font-size: 18px; } }
@media (max-width: 1023px) {
  .navbar-toggle {
    display: block; }

  .navbar-collapse.collapse {
    display: none !important; }

  .collapse.in {
    display: block !important; } }
@media (min-width: 1024px) {
  .top {
    height: 60px; }

  .navbar-header.box-nav {
    width: 25%;
    float: left; }
    .navbar-header.box-nav .logo {
      width: 100%; }

  .box-menu {
    width: 75%;
    float: right; }
    .box-menu .menu {
      width: auto;
      background-color: transparent; }
      .box-menu .menu li {
        width: auto; }
        .box-menu .menu li a {
          font-size: 12px;
          transition: border-top 0.5s ease;
          border-top: 2px solid rgba(0, 0, 0, 0.4); }
          .box-menu .menu li a:hover, .box-menu .menu li a:active {
            background-color: transparent;
            border-top: 2px solid #f15a24; }

  .text-slide {
    left: 15%;
    right: 15%; }
    .text-slide h1 {
      font-size: 40px; }
    .text-slide p {
      font-size: 20px; }
    .text-slide .learn-more,
    .text-slide .download {
      font-size: 16px;
      width: 25%; }
    .text-slide .download:hover, .text-slide .download:active {
      transition: background-color 0.5s ease;
      background-color: rgba(0, 0, 0, 0.66); }
    .text-slide .learn-more:hover, .text-slide .learn-more:active {
      transition: background-color 0.5s ease;
      background-color: #ce4e22; }
    .text-slide .available span {
      font-size: 20px; }
    .text-slide .available .mobile-icons .fa-apple, .text-slide .available .mobile-icons .fa-android {
      padding: 10px 13px;
      border-radius: 25px;
      font-size: 25px; }

  .icon-left,
  .icon-right {
    width: 30%; }

  .features-content .features-elements .elements img, .gallery-content .features-elements .elements img, .prices-content .features-elements .elements img, .gallery-content .gallery-elements .elements img, .prices-content .prices-title .elements img {
    width: 50%; }
  .features-content .features-elements .elements h3, .gallery-content .features-elements .elements h3, .prices-content .features-elements .elements h3, .gallery-content .gallery-elements .elements h3, .prices-content .prices-title .elements h3 {
    font-size: 18px; }
  .features-content .features-elements .elements p, .gallery-content .features-elements .elements p, .prices-content .features-elements .elements p, .gallery-content .gallery-elements .elements p, .prices-content .prices-title .elements p {
    font-size: 15px; }

  .play-img {
    width: 10%; }

  .play-text {
    padding: 0 10%; }
    .play-text h1 {
      font-size: 30px; }

  .testimony-content img {
    width: 15%; }
  .testimony-content p {
    margin-top: 20px; }

  .like-content .download-now {
    margin-top: 2%; }

  .contact-content {
    width: 40%;
    left: 30%; }

  .footer-content {
    padding: 2% 0; } }
@media (min-width: 1200px) {
  .navbar-header.box-nav {
    width: 20%; }

  .slide-box {
    height: auto; }

  .text-slide {
    text-align: left;
    top: 22%;
    left: 36%;
    right: 10%; }
    .text-slide p {
      font-size: 18px; }
    .text-slide .available {
      text-align: left; }

  .icon-left, .icon-right {
    width: 25%; }

  .features,
  .gallery,
  .prices {
    padding: 20px 0 30px 0; }

  .watch-content {
    padding: 10% 0; }

  .testimony-content p {
    padding: 0 25%; }

  .contact-content {
    width: 30%;
    left: 35%; } }
@media (min-width: 1360px) {
  .box-menu .menu li a {
    font-size: 15px; }

  .text-slide {
    top: 25%;
    left: 45%;
    right: 10%; }
    .text-slide p {
      font-size: 18px; }
    .text-slide .learn-more,
    .text-slide .download {
      font-size: 15px;
      width: 22%; }

  .icon-left,
  .icon-right {
    width: 20%; }

  .contact-content {
    width: 28%;
    left: 36%; } }
