//All Colors
$white: #fff
$white-gray: #f9f9f9
$green: #91c46b
$gray: #4f4f50
$gray-darken: #414042
$orange: #f15a24
$orange-darken: #ce4e22
$blue: #4bcaff

img 
    width: 100%
  
a
    &:hover, 
    &:active
        text-decoration: none
// Navbar Top
.navbar 
    border: 0
    margin-bottom: 0
.top
    background-color: rgba(0, 0, 0, 0.8)
    
.box-nav
    margin-bottom: 10px
    
.logo
    width: 50%
    
//Toggle Buttom    
.navbar-toggle .icon-bar
    background-color: $orange
    
//Menu List
.menu
    background-color: rgba(0, 0, 0, 0.72)
.menu li a
    color: $white
    font-size: 15px
    font-family: 'Droid Sans', sans-serif
    font-weight: 700
    text-align: center
    &:focus,
    &:hover
        background-color: transparent
    &:hover,
    &:active
        background-color: $orange
//Header

//Slide Arrows
.carousel-indicators .active
    background-color: $orange
    border: 1px solid $orange
.carousel-control 
    opacity: .5
.carousel-control.right, .carousel-control.left
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgba(0, 0, 0, 0))
.icon-left, .icon-right
    position: absolute
    top: 50%    
    z-index: 5
    display: inline-block
    margin-top: -10px
    font-size: 30px
    color: $white
    width: 60%

.icon-left
    left: 40%
    margin-left: -10px
.icon-right
    right: 40%
    margin-right: -10px
    
.text-slide
    position: absolute
    top: 15%
    left: 10%
    right: 10%
    z-index: 10
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88)
    text-align: center    
    h1
        color: $white
        font-size: 25px
        font-family: 'Droid Sans', sans-serif
        font-weight: 400
    h1 span
        font-weight: 700
    p
        color: $white
        font-size: 16px
        font-family: 'Droid Sans', sans-serif
        font-weight: 400
    .download
        border: 2px solid $white
        border-radius: 6px
        color: $white
        background-color: rgba(0, 0, 0, 0.66)
        text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.88)
        font-family: 'Droid Sans', sans-serif
        font-weight: 700
        padding: 10px 0
        width: 60%    
        margin-top: 4%
    .learn-more   
        background-color: $orange
        border-bottom: 2px solid $orange-darken
        border-radius: 6px
        color: $white
        text-shadow: 0 0 0 rgba(0, 0, 0, 0)
        font-family: 'Droid Sans', sans-serif
        font-weight: 700
        padding: 10px 0
        width: 60%      
        margin-top: 4%
    .available
        margin: 0 auto
        width: 100%
        margin-top: 7%
        text-align: center      
        span
            color: $white
            font-size: 17px
            font-family: 'Droid Sans', sans-serif
            font-weight: 400
        .mobile-icons            
            margin: 5px   
            .fa-apple, .fa-android
                background-color: rgba(0, 0, 0, 0.66)
                padding: 10px 12px
                border-radius: 20px
                font-size: 20px    
            .fa-apple
                color: $orange                        
            .fa-android
                color: $white                
                
// Features Section
.features
    background-color: $white-gray
    border-top: 5px solid $orange
    padding-top: 10px 
    padding-bottom: 20px
.features-content
    text-align: center
    h1
        color: $gray-darken
        font-size: 18px
        font-family: 'Droid Sans', sans-serif
        font-weight: 700
    p
        color: $gray-darken
        font-size: 15px
        font-family: 'Droid Sans', sans-serif
        font-weight: 400
    .features-elements 
        width: 100%
        padding: 25px 10px 0 10px
        .elements                        
            img
                width: 30%            
            h3
                color: $gray-darken
                font-size: 18px
                font-family: 'Droid Sans', sans-serif
                font-weight: 700
            p   
                color: $gray-darken
                font-size: 15px
                font-family: 'Droid Sans', sans-serif
                font-weight: 400

//Gallery Section   

//Lightbox Alts
.lightbox .lb-image
    border: 0
//Lightbox Alts    
    
.gallery
    background-color: $white    
    padding-top: 10px 
    padding-bottom: 20px
.gallery-content
    @extend .features-content
    .gallery-elements
        overflow: hidden
        @extend .features-elements  
        .pictures-box           
        //Pictures Overlay de Gallery Section
        .pictures-in
            position: relative 
            overflow: hidden
            border-radius: 15px
            &:hover 
                .gallery-overlay
                    opacity: 1                                      
                    .gallery-text-overlay
                        position: absolute
                        bottom: 0
                        width: 100%                
                        background-color: $orange-darken
                        text-align: center
                        opacity: 1
                        transition: .5s ease                          
                        p
                            color: $white
                            font-size: 12px
                            font-family: 'Droid Sans', sans-serif
                            font-weight: 700
                            padding: 5px 0
                            margin: 0                            
            .gallery-img
                display: block
                width: 100%
                height: auto                
            .gallery-overlay 
                position: absolute
                top: 0
                bottom: 0
                left: 0
                right: 0
                height: 100%
                width: 100%
                opacity: 0
                transition: .5s ease
                background-color: $orange
            .gallery-icon
                color: $white
                font-size: 35px
                position: absolute
                top: 50%
                left: 50%
                transform: translate(-50%, -50%)
                -ms-transform: translate(-50%, -50%)
            .gallery-text-overlay
                opacity: 0                
            .gallery-text
                width: 100%                
                background-color: $gray
                text-align: center                
                p
                    color: $white
                    font-size: 12px
                    font-family: 'Droid Sans', sans-serif
                    font-weight: 700
                    padding: 5px 0
                    margin: 0
        .gallery-description
            text-align: center
            margin-top: 15px
            margin-bottom: 20px
            p
                color: $gray-darken
                font-size: 12px
                font-family: 'Droid Sans', sans-serif
                font-weight: 400  

//Watch Section
.watch    
    background: $orange url(../images/bgwatch.jpg) no-repeat center fixed
.watch-content
    padding: 20% 0 
    text-align: center
.play-img    
    width: 25%
    margin: 0 auto
.play-text
    color: $white
    font-family: 'Droid Sans', sans-serif
    font-weight: 400
    h1
        font-size: 30px
        margin-bottom: 20px
        span
            font-weight: 700
    p
        font-size: 13px

//Prices Section
.prices
    padding-top: 5px
.prices-content
    @extend .features-content
    .prices-title
        @extend .features-elements  
.prices-plan
    padding: 0 10px
.plan
    background-color: $white-gray
    border: 1px solid #dedede
    border-radius: 5px
    margin-bottom: 15px
    padding: 0 0 15px 0
    h3
        color: #a5a5a5
        font-size: 15px
        font-family: 'Droid Sans', sans-serif
        font-weight: 700  
    h1
        color: $white
        font-size: 50px
        font-family: 'Droid Sans', sans-serif
        font-weight: 700
        padding: 8px 0
    .purchase
        color: $white
        font-size: 15px
        font-family: 'Droid Sans', sans-serif
        font-weight: 400
        padding: 10px 0
        width: 60%
.highlight h3
    color: $orange
    
//Testimonials
.testimony
    background-color: $white-gray
    padding: 25px 0 25px 0
.testimony-box    
    h1
        color: $gray-darken
        font-size: 25px
        font-family: 'Droid Sans', sans-serif
        font-weight: 700 
        text-align: center
        margin-top: 0
        margin-bottom: 10px
.testimony-content
    text-align: center
    img
        width: 40%
    p
        color: $orange
        font-size: 12px
        font-family: 'Droid Sans', sans-serif
        font-weight: 400 
        text-align: center 
.testimony-controls
    text-align: center
    a
        opacity: 0.6 
    a.active
        opacity: 1     
    img
        width: 10%                  

//Like Section
.like
    background-color: $gray
    padding: 10px 0 30px 0
.like-content
    text-align: center
    h1
        color: $white
        font-family: 'Droid Sans', sans-serif
        font-weight: 400
        font-size: 30px
    .download-now
        background-color: $orange
        border-bottom: 2px solid $orange-darken
        border-radius: 6px
        color: #fff
        text-shadow: 0 0 0 transparent
        font-family: "Droid Sans", sans-serif
        font-weight: 700
        padding: 10px 0
        width: 50%
        margin-top: 4%
        
//Contact Section
.contact
    background-color: $orange  
.contact-content
    text-align: center
    padding: 20px 12px
    background-color: $orange
    .contact-form        
        h1
            color: $white
            font-family: 'Droid Sans', sans-serif
            font-weight: 700
            font-size: 30px 
.contact-area
    height: 50px
    margin-bottom: 2%
    text-align: center
.message
    text-align: center
.send
    background-color: $white
    color: $orange
    font-family: 'Droid Sans', sans-serif
    font-weight: 700
    font-size: 15px
    margin-top: 2%
    width: 40%
    padding: 10px 12px
.maps
    pointer-events: none

//Footer
footer
    background-color: $gray
.footer-content
    padding: 5% 0
    .copy,
    .terms
        width: 100%
        text-align: center
        p
            color: #bbbbbb
            font-family: 'Droid Sans', sans-serif
            font-weight: 400
            font-size: 12px 
        
    
@media (min-width: 480px) 
    .logo
        width: 45%
        padding: 10px 15px
    .menu li a
        font-size: 18px
        font-weight: 400
    .text-slide 
        top: 20%
        h1
            font-size: 32px
            margin-bottom: 5%
        p
            font-size: 17px
        .learn-more
            border-bottom: 3px solid $orange-darken
        .available
            span
                font-size: 18px
            .fa-apple, .fa-android                
                padding: 10px 15px
                border-radius: 25px
                font-size: 25px
    .gallery-content 
        .gallery-elements 
            .gallery-description p                
                font-size: 13px   
                
@media (min-width: 768px)                  
    .navbar-header.box-nav 
        float: none
        margin-bottom: 0
    .top    
        height: 75px
    .logo
        width: 40%
    .navbar-toggle
        padding: 20px 10px
    .menu
        width: 100%
        float: none
        margin-right: 0
        li
            width: 100%
            a
                padding-top: 20px
                padding-bottom: 20px
    .slide-box 
        height: 100vh
    .text-slide         
        h1
            font-size: 45px            
        p
            font-size: 25px
        .learn-more, .download
            font-size: 20px
            width: 40%
            margin-left: 2px
            margin-right: 2px
        .available
            span
                font-size: 25px
            .mobile-icons 
                .fa-apple, .fa-android
                    padding: 10px 15px
                    border-radius: 35px
                    font-size: 35px    
    .icon-left,
    .icon-right
        width: 45%
    .features-content
        h1
            font-size: 25px
       
        p         
            font-size: 18px
    .features-content 
        .features-elements 
            .elements
                h3
                    font-size: 20px
                p
                    font-size: 18px
    .gallery-content 
        .gallery-elements 
            overflow: hidden
            .pictures-box                
                .gallery-description p                
                    font-size: 15px   
    .play-img
        width: 15%
    .play-text
        h1 
            font-size: 35px
        p      
            font-size: 15px 
    .prices
        padding-bottom: 25px
    .prices-plan  
        margin-top: 25px
        .plan 
            margin-top: 35px
            h3
                font-size: 18px
            .value
                h1
                    font-size: 45px
            .purchase
                font-size: 18px
                margin-top: 15px
        .highlight
            margin-top: 10px
    .testimony-content
        img
            width: 20%
        p
            font-size: 15px
            padding: 0 15%
    .like-content
        .download-now
            width: 40%
            font-size: 18px
    .contact
        position: relative
    .contact-content
        position: absolute
        width: 50%
        left: 25%
        right: 25%
        top: 10%
        border-radius: 15px
        background-color: rgba(241, 90, 36, 0.8)
    .send
        font-size: 18px
        
//Comportamento Menu para Tablets Landscape       
@media (max-width: 1023px)                
    .navbar-toggle 
        display: block
    .navbar-collapse.collapse 
        display: none!important
    .collapse.in 
        display: block!important
        
@media (min-width: 1024px) 
    .top 
        height: 60px
    .navbar-header.box-nav    
        width: 25%
        float: left
        .logo 
            width: 100%
    .box-menu  
        width: 75%
        float: right
        .menu
            width: auto
            background-color: transparent
            li
                width: auto
                a
                    font-size: 12px
                    transition: border-top 0.5s ease
                    border-top: 2px solid rgba(0, 0, 0, 0.40)
                    &:hover, 
                    &:active
                        background-color: transparent
                        border-top: 2px solid $orange
                    
    .text-slide 
        left: 15%
        right: 15%
        h1 
            font-size: 40px
        p
            font-size: 20px
        .learn-more, 
        .download
            font-size: 16px
            width: 25%
        .download
            &:hover, &:active
                transition: background-color 0.5s ease
                background-color: rgba(0, 0, 0, 0.66)
        .learn-more
            &:hover, &:active
                transition: background-color 0.5s ease
                background-color: $orange-darken
        .available
            span
                font-size: 20px
            .mobile-icons 
                .fa-apple, .fa-android
                    padding: 10px 13px
                    border-radius: 25px
                    font-size: 25px    
    .icon-left,
    .icon-right
        width: 30%
    .features-content 
        .features-elements 
            .elements 
                img
                    width: 50%
                h3
                    font-size: 18px
                p
                    font-size: 15px
    .play-img
        width: 10%
    .play-text
        padding: 0 10%
        h1 
            font-size: 30px
    .testimony-content 
        img
            width: 15%
        p
            margin-top: 20px
    .like-content .download-now
        margin-top: 2%
    .contact-content
        width: 40%
        left: 30%
    .footer-content 
        padding: 2% 0    
        
@media (min-width: 1200px)     
    .navbar-header.box-nav 
        width: 20%
    .slide-box 
        height: auto
    .text-slide
        text-align: left
        top: 22%
        left: 36%
        right: 10%
        p
            font-size: 18px
        .available
            text-align: left
    .icon-left, .icon-right 
        width: 25%
    .features,
    .gallery,
    .prices
        padding: 20px 0 30px 0    
    .watch-content
        padding: 10% 0
    .testimony-content p
        padding: 0 25%
    .contact-content
        width: 30%
        left: 35%

@media (min-width: 1360px)  
    .box-menu .menu li a 
        font-size: 15px
    .text-slide 
        top: 25%
        left: 45%
        right: 10%
        p
            font-size: 18px
        .learn-more, 
        .download
            font-size: 15px
            width: 22%
    .icon-left, 
    .icon-right 
        width: 20% 
    .contact-content 
        width: 28%
        left: 36%